@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

div .sections {
    background-color: lightgrey;
    border-radius: 25px;
    margin-bottom: 20px;
    width:85%;
    height: fixed;
}

